/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* 1. Menu */
.sticky-top{
  background-color: #fff;
}
.navbar{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.navbar-nav{
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav-link{
  color: #000;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-link:hover{
  color: rgb(49, 49, 49);
}
.navbar > div {
  border: 2px solid #000;
}
.navbar > div:nth-child(2){
  border-left: 0;
  border-right: 0;
}
.logo-home {
  padding: 5px 10px;
}


@media (min-width: 768px) {
  .navbar-brand.abs
      {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
      }
  }
.menu-scroll {
    display: none;
}
.scrolled  .boton-reservar {
    background-color: #000;
    color: #fff;
    width: 100%;
}
.scrolled  .menu-scroll {
    display: block;
}
/*2.  BANNER */
.carousel-indicators li {
  width: 6px;
  height: 6px;
  background-color: #fff0;
  border: 1px solid #fff;
}
.carousel-indicators .active{
  background-color: #fff;
}
.detalle-habitacion p {
  color: #000;
  font-size: 12px;
  margin: 0;
}

/* BORDER */
.border-total{
  border: 2px solid #000; 
}
.border-total-blanco{
  border: 2px solid #fff; 
}
.border-right-0{
  border-right: 0;
}
.sin-border-bottom{
  border-bottom:0;
}
.boton-white,
.boton-black{
  font-weight: 600;
  color:#000;
}
.boton-white{
  color:#fff;
}
.boton-white:hover{
  color:#fff;
}
.boton-black:hover{
  color:#000;
}
.btn-detalle-habitacion-line:focus{
  outline: 0;
}
.btn-detalle-habitacion-line {
  padding: 0;
  margin: 8px 0;
  text-decoration: underline;
  font-weight: 600;
  color:#000;
}
.grupo-botones {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: end;
  justify-content: center;
}
.bg-black {
  background-color: #000;
}
.btn-ver-habitacion,
.btn-tipo-habitacion {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-tipo-habitacion {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 0;
}
.btn-detalle-habitacion-big {
  color: #fff;
  display: block;
  min-height: 67px;
  line-height: 4;
}
.mayusc{
  text-transform: uppercase;
  font-size: 22px;
}
.servicios-item > img {
  border-left: 0;
  border-right: 0;
}
.servicios-item > p {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin-bottom: 0;
  color: #000;
  font-size: 12px;
  margin: 0;
}
.boton-servicios {
  display: block;
  height: 100%;
}

/* Eventos */
.evento-titulo h4 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}
.evento-titulo {
  display: flex;
  justify-content: space-between;
  border-top: 0;
}
.evento-titulo .evento-fecha {
  padding: 3px 9px;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1;
  
}
.evento-titulo .evento-fecha span {
  font-size: 16px;
  font-weight: 700;
}
.btn-eventos {
  color: #fff;
  padding: 9px 21px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}


/* footer */
.mapa-como-llegar {
  display: block;
  text-align: center;
  padding: 21px 0;
  width: 100%;
}
.mapa-como-llegar-titulo:hover{
  color: #fff;
}
.mapa-como-llegar-titulo {
  color: #fff;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  border-right: 0;
}
.pie-pagina-item h6,
.pie-pagina-item p,
.pie-redes h6 {
  padding: 0;
  margin: 0;
  color: #fff;
}
.pie-pagina-item p,
.pie-pagina-item a {
  color: #a9a9a9;
  font-size: 14px;
}
.pie-pagina-item h6 {
  font-weight: 500;
}
.pie-pagina-item {
  display: block;
  width: 100%;
  border-top: 0;
  height: 100%;
}
.mapa-opciones {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.pie-pagina-modificador {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.pie-idioma {
  border-top: 0;
  width: 100%;
  max-width: 39px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pie-redes {
  width: 100%;
  height: 100%;
  border-top: 0;
  border-right: 0;
}
.pie-rrss {
  display: flex;
  justify-content: space-between;
}
.pie-idioma a:first-child {
  border-bottom: 2px solid #fff;
  width: 100%;
  display: block;
}
.pie-idioma a{
  text-align: center;
  color: #fff;
  width: 100%;
  display: block;
  padding: 12px 0;
}
.pie-pagina-contacto {
  border: 0;
  border-bottom: 2px solid #fff;
}
.pie-redes h6 {
  padding-bottom: 10px;
}
.pie-idioma a:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
.pie-pagina-item a{
  color:#a9a9a9;
}
.pie-pagina-item a:hover{
  color: #a9a9a9;
  text-decoration: none;
} 
input#email-newsletter {
  width: 100%;
  background-color: transparent;
  border: 0;
  padding: 9px 0;
}
input#email-newsletter:focus{
  outline: 0;
}
.pie-submenu ul {
  padding: 0;
  margin: 0;
}
.pie-submenu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pie-submenu ul li a {
  color: #fff;
  font-size: 12px;
}
.pie-submenu ul li a:hover{
  color:a9a9a9;
}
.pie-submenu {
  width: 100%;
}
.pie-submenu ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.lista-eventos {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}
.grupo-boton-eventos{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.grupo-boton-eventos .btn-eventos {
  margin: inherit;
  text-align: left;
  width: 100%;
  max-width: 246px;
}
